body {
  position: absolute;
}

.background-icon,
.gradient-icon {
  position: absolute;
  top: 102px;
  left: 0;
  width: 1990px;
  height: 4298px;
}
.gradient-icon {
  top: 2580px;
  left: 858px;
  width: 642px;
  height: 720px;
}
.gradient-icon1,
.gradient-icon2 {
  position: absolute;
  top: 1022px;
  left: 739px;
  width: 625px;
  height: 700px;
}
.gradient-icon2 {
  top: 2571px;
  left: 1084px;
} 
.gradient-icon3,
.gradient-icon4 {
  position: absolute;
  top: 3166px;
  left: 274px;
  width: 572px;
  height: 641px;
}
.gradient-icon4 {
  top: 220px;
  left: 385px;
  width: 385px;
  height: 431px;
}
.portfolio-icon,
.portfolio-icon1 {
  position: absolute;
  top: 2762px;
  left: 1047px;
  width: 582.88px;
  height: 341px;
  object-fit: cover;
}
.portfolio-icon1 {
  top: 3330px;
  left: 460px;
}

.developed-webhr-landing,
.im-a-software,
.im-a-software1 {
  position: absolute;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.developed-webhr-landing {
  top: 1066px;
  left: -3977px;
  font-size: var(--font-size-3xl);
}
.im-a-software,
.im-a-software1 {
  top: 301px;
  left: -6366px;
  font-family: var(--font-poor-story);
  text-align: center;
}
.im-a-software1 {
  top: 627px;
  left: -5981px;
  font-family: var(--font-poetsenone);
}
.linkedin {
  margin: 0;
}
.linkedin-behance-container {
  position: absolute;
  top: 1884px;
  left: -4592px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.webhr-logo-vectorized {
  position: absolute;
  top: -4176px;
  left: -13600px;
  width: 4096px;
  height: 1419px;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a0b2e;
  box-shadow: 0 6px 22px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 113px;
  user-select: none;
}
/* .header:hover{
  color: #38126d;
} */
.ex,
.about {
  top: 43px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  text-align: center;
  justify-content: center;
  height: 27px;
}
/* .ex,
.about :hover{
  color: #00a3ff;
} */
.about {
  position: absolute;
  left: 1000px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  width: 66px;
  transition: font-size 0.3s ease;
}
.about:hover{
  font-size:x-large;
  
}
.ex {
  left: 1180px;
  width: 68px;
  transition: font-size 0.3s ease;
}
.ex:hover{
  font-size:x-large;
}
.ex,
.im-a-android,
.pro {
  position: absolute;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.pro {
  top: 43px;
  left: 1380px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  text-align: center;
  justify-content: center;
  width: 49px;
  height: 27px;
  transition: font-size 0.3s ease;
}
.pro:hover{
  font-size:x-large;
}
.cont {
  position: absolute;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.cont {
  top: 43px;
  left: 1581px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  text-align: center;
  justify-content: center;
  width: 49px;
  height: 27px;
  transition: font-size 0.3s ease;
}
.cont:hover{
  font-size:x-large;
}
.im-a-android {
  top: 661px;
  left: 474px;
  width: 774px;
}
.cover {
  color: var(--color-darkorchid);
}
.span {
  color: var(--color-white);
}
.judges-a-book-container {
  position: absolute;
  top: 379.68px;
  left: 727px;
  letter-spacing: 0.02em;
  line-height: 126.66%;
}
.a-developer-who,
.because-if-the {
  position: absolute;
  letter-spacing: 0.02em;
  text-align: center;
}
.a-developer-who {
  top: 351.68px;
  left: 721px;
  font-size: var(--font-size-mid);
  text-decoration: underline;
}
.because-if-the {
  top: 508.68px;
  left: 727px;
  font-size: 11px;
}
.an-ambitious-android {
  position: absolute;
  top: 805px;
  left: 477px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  width: 892px;
}
.work-experience {
  position: absolute;
  top: 1135px;
  left: 468px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
}
.hello-i-am-container1 {
  line-break: anywhere;
  width: 100%;
}
.hello-i-am-container {
  position: absolute;
  top: 245.96px;
  left: 707px;
  font-size: 19px;
  letter-spacing: -0.5px;
  line-height: 97px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 277px;
  height: 20px;
}
.arrow-icon,
.portfolio-child {
  position: absolute;
  top: 224px;
  left: 603.78px;
  width: 121.11px;
  height: 117.88px;
}
.portfolio-child {
  top: 441.76px;
  left: 877.36px;
  width: 188px;
  height: 59.79px;
}
.contact,
.im-currently-looking-container {
  position: absolute;
  top: 3905px;
  left: 458px;
  font-size: 25px;
  letter-spacing: 0.02em;
}
.im-currently-looking-container {
  top: 4023px;
  font-size: 15px;
}
.sggs-college {
  color: #00a3ff;
}
.currently-im-pursuing-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  width: 573px;
}
.designation {
  position: absolute;
  top: 737.04px;
  left: 474px;
  width: 573px;
  height: 38px;
  font-size: 21px;
}
.experience-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    110.49deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  width: 570px;
  height: 192.68px;
}
.mask-group-child {
  position: absolute;
  top: -4.04px;
  left: -74.25px;
  background-color: var(--color-indigo);
  width: 643.11px;
  height: 8.08px;
}
.mask-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 570px;
  height: 168.06px;
}
.cib-on-the,
.take-your-client-container {
  position: absolute;
  top: 46px;
  left: 197px;
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 256px;
  height: 24px;
}
.take-your-client-container {
  top: 81px;
  left: 198px;
  font-size: var(--font-size-5xs);
  line-height: 15.5px;
  font-weight: 500;
  width: 232px;
  height: 48px;
}
.learn-more-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 119px;
  height: 33px;
}
.learn-more1 {
  position: absolute;
  top: 10px;
  left: 19px;
  line-height: 15px;
  font-weight: 500;
  display: inline-block;
  width: 77px;
  height: 13px;
}
.learn-more {
  position: absolute;
  top: 112px;
  left: 195px;
  width: 119px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.experience,
.experience-item {
  position: absolute;
  top: 36px;
  left: 50px;
  width: 121.99px;
  height: 115px;
}
.experience {
  top: 1251px;
  left: 463px;
  width: 570px;
  height: 192.68px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-poppins);
}
.mask-group-item {
  position: absolute;
  top: -4.04px;
  left: -73px;
  background-color: var(--color-indigo);
  width: 643px;
  height: 29px;
}
.experience-inner,
.rectangle-div {
  position: absolute;
  left: 0;
  border-radius: var(--br-mini);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  width: 570px;
  height: 192.68px;
}
.experience-inner {
  top: 3px;
  background-color: var(--color-midnightblue);
}
.rectangle-div {
  top: 2.96px;
  background: linear-gradient(
    95.56deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
}
.cib-on-the1,
.take-your-client-container1 {
  position: absolute;
  top: 49.96px;
  left: 202px;
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 256px;
  height: 24px;
}
.take-your-client-container1 {
  top: 84.96px;
  left: 203px;
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 232px;
  height: 48px;
}
.learn-more3 {
  position: absolute;
  top: 115.96px;
  left: 200px;
  width: 119px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.experience1,
.group-icon {
  position: absolute;
  top: 39.96px;
  left: 56px;
  width: 119.99px;
  height: 117px;
}
.experience1 {
  top: 1461px;
  left: 463px;
  width: 570px;
  height: 195.68px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-poppins);
}
.mask-group-inner {
  position: absolute;
  top: -4px;
  left: -74px;
  background-color: var(--color-indigo);
  width: 644px;
  height: 20px;
}
.experience-child1,
.experience-child2 {
  position: absolute;
  left: 0;
  border-radius: var(--br-mini);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  width: 570px;
  height: 192.68px;
}
.experience-child1 {
  top: 3.04px;
  background-color: var(--color-midnightblue);
}
.experience-child2 {
  top: 3px;
  background: linear-gradient(
    149.88deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
}
.cib-on-the2,
.take-your-client-container2 {
  position: absolute;
  top: 45px;
  left: 197px;
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 256px;
  height: 24px;
}
.take-your-client-container2 {
  top: 80px;
  left: 198px;
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 232px;
  height: 48px;
}
.learn-more6 {
  position: absolute;
  top: 111px;
  left: 195px;
  width: 119px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.experience2,
.icons {
  position: absolute;
  top: 49px;
  left: 61px;
  width: 113.93px;
  height: 97px;
}
.experience2 {
  top: 1458px;
  left: 1055px;
  width: 570px;
  height: 195.71px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-poppins);
}
.card-icon {
  position: absolute;
  top: 2886px;
  left: 460px;
  width: 669px;
  height: 165px;
  object-fit: cover;
}
.a-web-app-container {
  position: absolute;
  top: 126px;
  left: 32px;
  font-weight: 500;
}
.example-project,
.featured-project {
  position: absolute;
  top: 19px;
  left: 0;
  font-size: var(--font-size-15xl);
  letter-spacing: 0.02em;
  font-weight: 600;
}
.featured-project {
  top: 0;
  font-size: var(--font-size-base);
  color: var(--color-mediumorchid);
}
.icon-park-solidclick,
.icon-park-solidclick2 {
  position: absolute;
  top: 302px;
  left: 73px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.icon-park-solidclick2 {
  top: 301px;
  left: 25px;
}
.portfolio-text {
  position: absolute;
  top: 2786px;
  left: 462px;
  width: 622px;
  height: 333px;
  font-size: var(--font-size-lg);
  color: var(--color-lightsteelblue);
  font-family: var(--font-poppins);
}
.card-icon1 {
  position: absolute;
  top: 96px;
  left: 0;
  width: 669px;
  height: 165px;
  object-fit: cover;
}
.a-web-app-container1 {
  position: absolute;
  top: 122px;
  left: 34px;
  font-weight: 500;
}
.example-project1,
.featured-project1 {
  position: absolute;
  top: 19px;
  left: 174px;
  text-align: end;
  font-size: var(--font-size-15xl);
  letter-spacing: 0.02em;
  font-weight: 600;
}
.featured-project1 {
  top: 0;
  left: 523px;
  font-size: var(--font-size-base);
  color: var(--color-mediumorchid);
}
.icon-park-solidclick3,
.icon-park-solidclick5 {
  position: absolute;
  top: 298px;
  left: 596px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.icon-park-solidclick5 {
  top: 297px;
  left: 548px;
}
.portfolio-text1 {
  position: absolute;
  top: 3337px;
  left: 961px;
  width: 669px;
  height: 329px;
  font-size: var(--font-size-lg);
  color: var(--color-lightsteelblue);
  font-family: var(--font-poppins);
}
.that-values-improving {
  margin: 0;
  font-size: var(--font-size-mid);
}
.cross-functional,
.im-currently-looking-container1 {
  position: absolute;
  top: 0;
  left: 123px;
  letter-spacing: 0.02em;
  line-height: 31px;
}
.cross-functional {
  left: 503px;
  color: #a362ff;
}
.group-child {
  position: absolute;
  top: 182.16px;
  left: 461.07px;
  width: 123.3px;
  height: 277.87px;
}
.group-inner,
.group-item {
  position: absolute;
  top: 199.16px;
  left: 451.51px;
  width: 71.36px;
  height: 270.37px;
}
.group-inner {
  top: 197.86px;
  left: 436px;
  width: 35.48px;
  height: 291.64px;
}
.group-child1,
.vector-icon {
  position: absolute;
  top: 191.66px;
  left: 303.13px;
  width: 118.82px;
  height: 300.87px;
}
.group-child1 {
  left: 364.63px;
  width: 66.98px;
  height: 310.37px;
}
.ellipse-icon,
.group-child2 {
  position: absolute;
  top: 194.87px;
  left: 413.52px;
  width: 21.98px;
  height: 313.13px;
}
.ellipse-icon {
  top: 424px;
  left: 181px;
  width: 542px;
  height: 330px;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 97px;
  left: 283px;
  width: 325px;
  height: 105px;
}
.group-child4 {
  top: 448px;
  left: 350px;
  width: 180px;
  height: 180px;
}
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: 457px;
  left: 0;
  width: 881px;
  height: 269px;
}
.group-child6,
.group-child7 {
  left: 63px;
  width: 764px;
}
.group-child7 {
  left: 108px;
  width: 695px;
}
.group-child8,
.group-icon1 {
  position: absolute;
  top: 385px;
  left: 292px;
  width: 306px;
  height: 275px;
}
.group-icon1 {
  height: 2.77%;
  width: 2.25%;
  top: 71%;
  right: 4.68%;
  bottom: 26.24%;
  left: 93.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child10,
.group-child9,
.group-icon2,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 2.01%;
  width: 1.45%;
  top: 66.97%;
  right: 12.4%;
  bottom: 31.01%;
  left: 86.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child10,
.group-child9,
.group-icon2,
.vector-icon2 {
  height: 2.94%;
  width: 1.79%;
  top: 77.96%;
  right: 0;
  bottom: 19.1%;
  left: 98.21%;
}
.group-child10,
.group-child9,
.group-icon2 {
  height: 2.55%;
  width: 1.23%;
  top: 89.56%;
  right: 13.18%;
  bottom: 7.89%;
  left: 85.59%;
}
.group-child10,
.group-child9 {
  height: 2.05%;
  width: 1.52%;
  top: 80.59%;
  right: 6.19%;
  bottom: 17.36%;
  left: 92.29%;
}
.group-child10 {
  height: 1.52%;
  width: 2.27%;
  top: 67.93%;
  right: 18.51%;
  bottom: 30.55%;
  left: 79.22%;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.vector-icon3 {
  position: absolute;
  height: 2.32%;
  width: 1.56%;
  top: 76.56%;
  right: 85.03%;
  bottom: 21.12%;
  left: 13.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14 {
  height: 2.7%;
  width: 1.45%;
  top: 85.67%;
  right: 95.42%;
  bottom: 11.63%;
  left: 3.13%;
}
.group-child12,
.group-child13,
.group-child14 {
  height: 1.95%;
  width: 1.34%;
  top: 64.19%;
  right: 77.77%;
  bottom: 33.85%;
  left: 20.89%;
}
.group-child13,
.group-child14 {
  height: 1.98%;
  width: 1.4%;
  top: 69.14%;
  right: 89.43%;
  bottom: 28.88%;
  left: 9.16%;
}
.group-child14 {
  height: 2.47%;
  width: 2.43%;
  top: 86.93%;
  right: 83.27%;
  bottom: 10.6%;
  left: 14.3%;
}
.skills,
.skills-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 895px;
  height: 754px;
}
.skills {
  top: 1820px;
  left: 593px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.social-icons {
  position: absolute;
  height: 0.42%;
  width: 5.56%;
  top: 94.59%;
  right: 71.31%;
  bottom: 4.99%;
  left: 23.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-1-icon,
.me-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 259px;
}
.image-1-icon {
  top: 5.72px;
  left: 48px;
  width: 165px;
  height: 223px;
  object-fit: cover;
}
.me {
  position: absolute;
  top: 305.96px;
  left: 461px;
  width: 258px;
  height: 259px;
}
.experience-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    95.56deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  width: 570px;
  height: 192.68px;
}
.cib-on-the3,
.take-your-client-container3 {
  position: absolute;
  top: 45.96px;
  left: 195px;
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 400px;
  height: 24px;
}
.take-your-client-container3 {
  top: 80.96px;
  left: 196px;
  font-size: var(--font-size-5xs);
  line-height: 15.5px;
  font-weight: 500;
  width: 232px;
  height: 48px;
}
.learn-more9 {
  position: absolute;
  top: 111.96px;
  left: 193px;
  width: 119px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.experience-child4,
.experience3 {
  position: absolute;
  top: 48.96px;
  left: 59px;
  width: 119.99px;
  height: 98px;
}
.experience3 {
  top: 1251px;
  left: 1053px;
  width: 570px;
  height: 192.68px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-poppins);
}
.untitled12-1-icon,
.untitled12-2-icon {
  position: absolute;
  top: 2277px;
  left: 943px;
  width: 180px;
  height: 176px;
  object-fit: cover;
}
.untitled12-2-icon {
  top: 15px;
  left: 486px;
  width: 104px;
  height: 99px;
  transition: font-size 0.3s ease;
}

.portfolio {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4400px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-preahvihear);
}

.contactMe {
  /* this div contains the social icons */
  position: absolute;
  width: 300px;
  height: 40px;
  z-index: 100;
  left: 460px;
  bottom: 210px;
}

.contactInstagram, .contactLinkedin, .contactYoutube, .contactGithub {
  display: inline;
  height: 40px;
  z-index: 200;
  background-color: white;
  border-radius: 100%;
  border: 2px solid white;
}

.contactInstagram {
  border: none;
}